body {
	margin: 0px;
}

/* Fonts */

.lato-700 {
	font-family: 'Lato', sans-serif !important;
	font-weight: 700 !important;
}

.lato-900 {
	font-family: 'Lato', sans-serif !important;
	font-weight: 900 !important;	
}

.ssp-200 {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 200 !important;	
}

.ssp-300 {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 300 !important;	
}

.ssp-400 {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 400 !important;	
}

.ssp-600 {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 600 !important;	
}

.ssp-700 {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 700 !important;	
}

.ssp-900 {
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 900 !important;	
}


#page1 {
	height: 100%;
/*	background-image: url(../images/background.jpg);
*/	background-size: cover;
	position: relative;
}

.pane {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 10%;
	padding-top: 1.5%;
}

.title {
	font-size: 65px;
	color: #2196f3;
}

.classic-navbar {
	position: relative;
	width: 100%;
	height: 70px;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
}

.logo {
	font-size: 20px; 
	margin-left: 7px; 
	color: #607d8b;
	letter-spacing: 5px; 
	text-transform: uppercase;
	position: absolute;
	left: 10%;
}

.nav-items {
	position: absolute;
	right: 5%;
	display: flex;
	/*list-style-type: none;*/
}

.nav-items-li {
	min-width: 50px;
	list-style-type: none;
	font-size: 17px;
	margin: 0 10px 0 17px;
	color: #607d8b;
}

.sub-heading {
	color: #607d8b;
	font-size: 30px;
	margin-left: 3px;
	line-height: 40px;
}

.buttons-container {
	height: 60px;
	min-width: 370px;
	margin: 0px 0px 15px 3px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.ls-button {
	height: 47px;
	width: 160px;
	border: 0px;
	box-shadow: 0px;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 4px;
	border-radius: 3px;
	transition: all 200ms ease-in-out;
}

.ls-button:hover {
	cursor: pointer;
	box-shadow: 0 3px 25px 0 rgba(0,0,0,0.25);
}

.signup-button {
	background-color: #2196f3;
	color: white;
}

.login-button {
	margin-left: 25px;
	background-color: white;
	border: 1px solid #2196f3;
	color: #2196f3;
}

.bottom-div {
	position: absolute;
	bottom: 0px;
	left: 13%;
	height: 160px;
	width: 70%;
	border-top: 8px solid #2196f3;
	box-shadow: 0 0px 10px 0 rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-right: 30px;
	transition: all 220ms ease-in-out;
}

.bottom-div:hover {
	height: 230px;
}

.our-mission {
	font-size: 35px;
	margin: 20px 0px 0px 40px;
	color: #37474f;
}

.our-mission-text {
	margin-left: 42px;
	font-size: 20px;
	margin-top: 10px;
	color: #607d8b;
}

/* WOW animations */

.slide-up {
	opacity: 0;
	transform: translateY(10px);
	animation: su 100ms ease-in 1 forwards;
}

@keyframes su {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.slide-from-left {
	opacity: 0;
	transform: translateX(-50px);
	animation: sfl 100ms ease-in 1 forwards;
}

@keyframes sfl {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.appear-in {
	animation: appearEase 320ms ease-in 1 forwards;
}

@keyframes appearEase {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}